.auth {
    width: 100%;
    height: 100vh;
}

.auth {
    width: 100%;
    height: 100vh;
}

.auth .card {
    border-radius: 8px;
}

.auth .card .card-header {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.auth .card .card-header h4 {
    font-weight: 900;
    font-family: roboto-black;
}

.auth .card .card-body {
    color: #000;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 50px;
}

.auth .card .card-body .form-control {
    color: #000;
    font-family: roboto-regular;
}

.auth .card .card-body .form-control:focus {
    border: 1px solid #000;
}

.auth .card .card-body a {
    font-size: 15px;
    font-family: roboto-regular;
}

@media(max-width: 576px) {
    .auth .card {
        width: 90vw;
    }
}

@media(min-width: 576px) {
    .auth .card {
        width: 460px;
    }
}