.dashboard-index a {
    text-decoration: none;
}

.dashboard-index .card {
    border: 0;
    margin-bottom: 30px;
    height: 130px;
}

.dashboard-index .card h2 {
    font-family: roboto-black;
}

.dashboard-index .card h6 {
    font-size: 13px;
    color: #555;
    text-transform: uppercase;
    font-family: roboto-bold;
}

@media(max-width: 576px) {
    .dashboard-index .card h2 {
        font-size: 18px;
    }
}